<launch>
  <arg name="model" default="$(env MOBILEBOT_MODEL)" doc="model type [ustbot, burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(env WORLDS_PATH)/ustbot_maze.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group if="$(eval model != 'ustbot')">
    <param 
      name="robot_description" 
      command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node 
      name="spawn_urdf" 
      pkg="gazebo_ros" 
      type="spawn_model" 
      args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  </group>

  <group if="$(eval model == 'ustbot')">
    <param 
      name="robot_description" 
      command="$(find xacro)/xacro $(find ustbot_description)/urdf/ustbot.urdf.xacro" />
    <node 
      name="spawn_urdf" 
      pkg="gazebo_ros" 
      type="spawn_model" 
      args="-urdf -model ustbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    
    <!-- Load controller settings -->
    <!--
    <rosparam  
      file="$(find ustbot_description)/config/ustbot_diff_drive_controller_params.yaml"
      command="load" />
    -->
    <!-- Load controller manager -->
    <!--
    <node 
      name="ustbot_controller_manager"
      pkg="controller_manager"
      type="spawner"
      respawn="false"
      output="screen"
      args="mobile_base_controller joint_state_controller"
    />
  -->
  
  </group>
</launch>
