<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env MOBILEBOT_MODEL)" doc="model type [ustbot, burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find mobilebot_navigation)/maps/test_map_1.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- ROBOT SELECTION -->
    <!-- TURTLEBOT3 -->
    <group if="$(eval model != 'ustbot')"> 
      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
      </include>
    </group>
    <!-- USTBOT -->
    <group if="$(eval model == 'ustbot')"> 
      <include file="$(find ustbot_bringup)/launch/ustbot_remote.launch">
        <arg name="model" value="$(arg model)" />
      </include>
    </group>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find mobilebot_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find mobilebot_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <!-- TURTLEBOT3 rviz -->
    <group if="$(eval model != 'ustbot')">
      <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find mobilebot_navigation)/rviz/turtlebot3_navigation.rviz"/>
    </group>
    <!-- USTBOT rviz -->
    <group if="$(eval model == 'ustbot')">
      <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find mobilebot_navigation)/rviz/ustbot_navigation.rviz"/>
    </group>
  </group>
</launch>
