<?xml version="1.0" ?>
<robot name="ustbot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="laser_visual" default="false"/>
  <xacro:property name="body_color" value="Gazebo/Silver" />

  <gazebo>
    <plugin name="ustbot_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>wheel_left_joint</leftJoint>
      <rightJoint>wheel_right_joint</rightJoint>
      <wheelSeparation>0.45</wheelSeparation>
      <wheelDiameter>0.165</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>70</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  <!-- *********** simulated ray sensor FRONT side *********** -->
  <gazebo reference="lidar_front">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lidar_front_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-1.5708</min_angle>
            <max_angle>3.1416</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>3.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lidar_front_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan_front</topicName>
        <frameName>lidar_front</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!-- *********** simulated ray sensor BACK side *********** -->
  <gazebo reference="lidar_back">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lidar_back_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>1.5708</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>3.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lidar_back_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan_back</topicName>
        <frameName>lidar_back</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey </material>
    <mu1>0.05</mu1>
    <mu2>0.05</mu2>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="wheel_right">
    <material>Gazebo/FlatBlack</material>
    <mu1>3500</mu1>
    <mu2>3500</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="wheel_left">
    <material>Gazebo/FlatBlack</material>
    <mu1>3500</mu1>
    <mu2>3500</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="lidar_front">
    <material>Gazebo/Blue</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="lidar_back">
    <material>Gazebo/Blue</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <!--
  <gazebo reference="ultrasonic_front_right">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_front_left">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_left_left">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_left_right">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_back_left">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_back_right">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_right_left">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="ultrasonic_right_right">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>


  -->

</robot>
